<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.2" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.3.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.4-preview1" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.4-preview1" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages.Data" version="3.2.4-preview1" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages.WebData" version="3.2.4-preview1" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="MySql.Data" version="8.0.10-rc" targetFramework="net461" />
  <package id="MySql.Data.Entities" version="6.8.3.0" targetFramework="net452" />
  <package id="MySql.Data.Entity" version="7.0.7-m61" targetFramework="net461" />
  <package id="MySql.Web" version="8.0.10-rc" targetFramework="net461" />
  <package id="Prism.Core" version="7.0.0.396" targetFramework="net461" />
  <package id="Prism.Mvvm" version="1.1.1" targetFramework="net461" />
  <package id="Prism.Unity" version="7.0.0.336-pre" targetFramework="net461" />
  <package id="Prism.Wpf" version="7.0.0.336-pre" targetFramework="net461" />
  <package id="Unity" version="5.5.6" targetFramework="net461" />
  <package id="WebMatrix.WebData" version="2.0.30506.0" targetFramework="net461" />
</packages>